@tailwind base;
* {
  @apply p-0 m-0 box-border;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
:root {
  --bgcolor: #f9fafb;
  --secondaryBgcolor: #f3f4f6;
  --textColor: #000;
  --secondaryTextColor: #374151;
  --accentColor: #0072f5;
  --borderColor: #e5e7eb;
  --transAccentColor: #0072f52f;
}
.dark {
  --bgcolor: #000000;
  --secondaryBgcolor: #0a0a0a;
  --textColor: #fff;
  --secondaryTextColor: #6f6f6f;
  --accentColor: #167ef6;
  --transAccentColor: #0072f52f;
  --borderColor: #333333;
}
@tailwind components;

@tailwind utilities;
